#button_position {
    position: absolute;
    top: 480px;
    left: 620px;
}

#nameError {
    color: red;
    display: none;
}

#emailError {
    color: red;
    display: none;
}

#phoneError {
    color: red;
    display: none;
}